@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Noto+Serif+Display:ital,wght@1,200&family=Qahiri&family=Roboto:ital,wght@1,100&family=Zen+Antique&family=Zen+Old+Mincho&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
header {

    width: 100%;
    height: 90vh;
    background-image: url('../img/mainheader.webp');
/*     
clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 72%, 95% 86%, 82% 100%, 19% 100%, 7% 91%, 0 76%); */
background-position-y: center;
background-position-x: bottom;


    background-size: cover;

 
 
 /* background-color: rgb(10, 2, 2); */
   /* clip-path: polygon(0 0, 56% 0, 100% 0, 100% 60%, 70% 81%, 32% 81%, 0 60%);  */
    /* min-height: 40rem; */
    /* clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 72%, 95% 86%, 82% 100%, 19% 100%, 7% 91%, 0 76%); */
  
     
}

.header-content h2{

   position: absolute;
   top: 0;
   bottom: 0;
   display: flex;

align-items: flex-end;
justify-content: center;

left: 41%;
bottom: -15rem;
flex-direction: column;
font-size:6vmin ;
font-family: 'Zen Antique', serif;
} 
 

  .btn {

    border-radius: 500px;
    text-decoration: none;
    background-color: #fc036b ;
    position: absolute;
    bottom: 7rem;
    left: 46.5%;
    height: 1.8em;
    color: whitesmoke;
    
    padding-top: 4px;
padding-left: 9px;
    width: 6em;


  }

.heading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem;
top: 1rem;

font-family: 'Dancing Script', cursive;
font-size:6vmin ;
color: #fc036b;
 }

  /* .beach {
     
     margin-left: -26rem;
     overflow-x: auto;
     
     margin-top: -12rem;
     margin-right: -11rem;
     overflow: hidden;
 } */

 
 nav ul {
    display: flex;
    
   
    list-style: none;
    text-decoration: none;
  
      margin-left: 25rem;
      padding-left: 1rem;
      justify-content: space-evenly ;
     
    
   }  
   .navicon {
       
   }

    .navicon1 {
color: white;
text-decoration: none;

    }

    
    .navicon2 {
        color: white;
        text-decoration: none;
            }
    
       
    .navicon3 {
        color: white;
        text-decoration: none;
            }
                 

    
            .navicon4 {
                color: white;
                text-decoration: none;
                    }
                    